header.header
  nav.nav
    .menu-box
      a.logo-link(href="index.html")
        img.logo-icon(src="/images/logo-nav.svg", alt="logo")
      span.menu-span
        | Навчання дітей
        svg(
          width="15",
          height="15",
          viewBox="0 0 15 15",
          fill="none",
          xmlns="http://www.w3.org/2000/svg"
        )
          path(
            d="M4.5 6.5L7.5 9.5L10.5 6.5",
            stroke="black",
            stroke-linecap="square",
            stroke-linejoin="round"
          )
        .menu-dropdown.closed
          .dropdown-box
            svg(
              width="191",
              height="86",
              viewBox="0 0 191 86",
              fill="none",
              xmlns="http://www.w3.org/2000/svg"
            )
              path(
                d="M181 6C186.523 6 191 10.4772 191 16V76C191 81.5229 186.523 86 181 86H10C4.47715 86 0 81.5229 0 76V16C0 10.4772 4.47715 6 10 6H85.3579C88.01 6 90.5536 4.94643 92.4289 3.07107L95.5 0L98.5711 3.07107C100.446 4.94643 102.99 6 105.642 6H181Z",
                fill="#FFECA0"
              )
            .dropdown-links
              a.menu-link(href="children-online.html") Онлайн-заняття
              a.menu-link(href="children-offline.html") Занятия в клубі
      a.menu-link(href="adults.html") Навчання дорослих
    .social-box
      a.social-link(href="http://facebook.com")
        img.social-icon(src="/images/facebook.svg", alt="facebook link")
      a.social-link(href="http://instagram.com")
        img.social-icon(src="/images/instagram.svg", alt="instagram link")
      a.social-link(href="http://whatsapp.com")
        img.social-icon(src="/images/whatsapp.svg", alt="whatsapp link")
      a.social-link(href="http://tm.me")
        img.social-icon(src="/images/telegram.svg", alt="telegram link")
      a.social-link(href="tel:+")
        img.social-icon(src="/images/phone.svg", alt="call button")
  nav#navMob.nav-mobile
    .nav-mobile__sticky
      a.logo-link(href="index.html")
        img.logo-icon(src="/images/logo-nav.svg", alt="logo")
      #hamburger.hamburger
        span
        span
        span
    #navMobcContent.nav-mobile__content
      .nav-mobile__links
        a.menu-link(href="children-online.html") Навчання дітей онлайн
        a.menu-link(href="children-offline.html") Навчання дітей офлайн
        a.menu-link(href="adults.html") Навчання дорослих
      .social-box
        a.social-link(href="http://facebook.com")
          img.social-icon(src="/images/facebook.svg", alt="facebook link")
        a.social-link(href="http://instagram.com")
          img.social-icon(src="/images/instagram.svg", alt="instagram link")
        a.social-link(href="http://whatsapp.com")
          img.social-icon(src="/images/whatsapp.svg", alt="whatsapp link")
        a.social-link(href="http://tm.me")
          img.social-icon(src="/images/telegram.svg", alt="telegram link")
        a.social-link(href="tel:+")
          img.social-icon(src="/images/phone.svg", alt="call button")
      .contacts
        span Контакти
        p +380 (44) 723-75-15
        p info@speaky.school
        p
          | 999999, Україна,
          br
          |
          | м. Київ,
          br
          |
          | Бульвар добра, 6
